p {
    color:rgb(246, 159, 176)
    background-color:rgb(0, 0, 0)
    font-family:Arial, Helvetica, sans-serif
    font-size:12px
    font-weight:normal
    line-height:1.5em
    text-align:center
    text-decoration:aliceblue
    text-indent:0px
    text-transform:none
    vertical-align:baseline
    white-space:normal
    word-spacing:normal
    margin:0px
    padding:0px
    border:0px
    list-style:none
    text-shadow:0px 0px 0px
    text-overflow:clip
    text-align:justify
    text-justify:inter-word
    text-align-last:justify
    text-decoration-color:rgb(246, 159, 176)
    text-decoration-line:underline
    text-decoration-style:solid
    text-decoration-thickness:0.1em
    text-emphasis-color:rgb(246, 159, 176)

    text-emphasis-style:filled
    text-emphasis-position:over right
    text-emphasis:filled rgb(246, 159, 176)
    text-emphasis:filled rgb(246, 159, 176) over right
    text-emphasis:filled rgb(246, 159, 176) over right
    text-emphasis:filled rgb(246, 159, 176) over right
    text-emphasis:filled rgb(246, 159, 176) over right
}

h1 {
    color:rgb(246, 159, 176)
    background-color:rgb(0, 0, 0)
    font-family:Arial, Helvetica, sans-serif
    font-size:12px
    font-weight:normal
    line-height:1.5em
    text-align:center
    text-decoration:aliceblue
    text-indent:0px
    text-transform:none
    vertical-align:baseline
    white-space:normal
    word-spacing:normal
    margin:0px
    padding:0px
    border:0px
    list-style:none
}
h2 {
    color:rgb(246, 159, 176)
    background-color:rgb(0, 0, 0)
    font-family:Arial, Helvetica, sans-serif
    font-size:12px
    font-weight:normal
    line-height:1.5em
    text-align:center
    text-decoration:aliceblue
    text-indent:0px
    text-transform:none
    vertical-align:baseline
    white-space:normal
    word-spacing:normal
    margin:0px
    padding:0px
    border:0px
    list-style:none
}
h3 {
    color:rgb(246, 159, 176)
    background-color:rgb(0, 0, 0)
    font-family:Arial, Helvetica, sans-serif
    font-size:12px
    font-weight:normal
    line-height:1.5em
    text-align:center
    text-decoration:aliceblue
    text-indent:0px
    text-transform:none
    vertical-align:baseline
    white-space:normal
    word-spacing:normal
    margin:0px
    padding:0px
    border:0px
    list-style:none
}
h4 {
    color:rgb(246, 159, 176)
    background-color:rgb(0, 0, 0)
    font-family:Arial, Helvetica, sans-serif
    font-size:12px
    font-weight:normal
    line-height:1.5em
    text-align:center
    text-decoration:aliceblue
    text-indent:0px
    text-transform:none
    vertical-align:baseline
    white-space:normal
    word-spacing:normal
    margin:0px
    padding:0px
    border:0px
    list-style:none
}
h5 {
    color:rgb(246, 159, 176)
    background-color:rgb(0, 0, 0)
    font-family:Arial, Helvetica, sans-serif
    font-size:12px
    font-weight:normal
    line-height:1.5em
    text-align:center
    text-decoration:aliceblue
    text-indent:0px
    text-transform:none
    vertical-align:baseline
    white-space:normal
    word-spacing:normal
    margin:0px
    padding:0px
    border:0px
    list-style:none
}
h6 {
    color:rgb(246, 159, 176)
    background-color:rgb(0, 0, 0)
    font-family:Arial, Helvetica, sans-serif
    font-size:12px
    font-weight:normal
    line-height:1.5em
    text-align:center
    text-decoration:aliceblue
    text-indent:0px
    text-transform:none
    vertical-align:baseline
    white-space:normal
    word-spacing:normal
    margin:0px
    padding:0px
    border:0px
    list-style:none
}
